*.class

**/bin/

*~

paper/*.aux

paper/*.log

paper/*.bbl

paper/*.blg

paper/*.pdf

.DS_Store

.metadata/

.recommenders/

experiments/dynoptic/test.dot.png
experiments/parallelization-results/
experiments/prioritization-results/
experiments/selection-results/
experiments/test.dot.png
experiments/tmpfile.txt
experiments/tmptestfiles.txt