*.class

**/bin/

*~

paper/*.aux

paper/*.log

paper/*.bbl

paper/*.blg

paper/*.pdf

.DS_Store

.metadata/

.recommenders/


experiments/parallelization-results/
experiments/prioritization-results/
experiments/selection-results/

**/surefire-reports/*
**/classes/*
**/test-classes/*
**/notice-and-license/*

experiments/ambari/target/
experiments/ambari/ambari-server/target/DBConnectionVerification.jar
experiments/ambari/ambari-server/target/ambari-server
experiments/ambari/ambari-server/target/ambari-server-2.0.0.0-SNAPSHOT.jar
experiments/ambari/ambari-server/target/antrun/build-main.xml
experiments/ambari/ambari-server/target/checkstyle-result.xml
experiments/ambari/ambari-server/target/rat.txt

experiments/ambari-new/target/
experiments/ambari-new/ambari-server/target/DBConnectionVerification.jar
experiments/ambari-new/amari-server/target/ambari-server
experiments/ambari-new/ambari-server/target/ambari-server-2.0.0.0-SNAPSHOT.jar
experiments/ambari-new/ambari-server/target/antrun/build-main.xml
experiments/ambari-new/ambari-server/target/checkstyle-result.xml
experiments/ambari-new/ambari-server/target/rat.txt

experiments/ambari-new/ambari-server/target/findbugs/findbugsXml.html
experiments/ambari-new/ambari-server/target/findbugs/findbugsXml.xml
experiments/ambari/ambari-server/target/findbugs/findbugsXml.html
experiments/ambari/ambari-server/target/findbugs/findbugsXml.xml

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

target/