*.class

**/bin/

*~

paper/*.aux

paper/*.log

paper/*.bbl

paper/*.blg

paper/*.pdf

.DS_Store

.metadata/

.recommenders/


experiments/parallelization-results/
experiments/prioritization-results/
experiments/selection-results/

**/surefire-reports/*
**/classes/*
**/test-classes/*
**/notice-and-license/*